/*
Sukurė Tautvydas Bernotas
www.pastebimas.lt
+37068917009
*/
 
        body, html {
            height: 100%;
            margin:0px;
        }
       header { 
           margin-top:0px; 
           width:100%;
           height:90px;
           background-color: #343639;
       } 
       

       header #inner {
           margin-left: auto;
           margin-right: auto;
           
           width:1000px;
           text-align: center;
       }
       
       
       #container {
           width: 940px;
        padding: 30px;
        
        -webkit-box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.75);
        margin: 0px auto;
        background-color: #F7F7F7;
       }
      
       
      #map-canvas {
        /*margin-top:100px;*/
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      
      #left-block {
          position: absolute;
            left: 60px;
            top: 209px;
            padding: 17px;
            height: auto;
            width: 400px;
             
            background-color: white;
            z-index: 9;
            border: 4px solid #fff;
 
padding: 10px 20px;
overflow: hidden;
width: 310px;
background-image: -moz-linear-gradient(top, #f6f2ec, #e2dbce);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f6f2ec),color-stop(1, #e2dbce));
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f2ec', EndColorStr='#e2dbce');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f2ec', EndColorStr='#e2dbce')";
-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.65);
box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
      }
      
      
      
      /* BEGIN: Общие стили */
.menu,
.sub-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  background-color: #3E454D;
  cursor: pointer;
  position: relative;
  transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  /* IE lt 10, Chrome lt 1, Opera lt 11.6, Safari lt 3, FF lt 4, Android lt 2.1 и iOS lt 2.0 не поддерэивают transition. */
}

.menu li:hover {
  background-color: #353B41 !important; /* .menu > li.home может иметь больше приоритета. Поэтому. */
}

.menu a {
  color: #FFF;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
}

.menu a:hover {
  /* Защита от простого a:hover. */
  color: #FFF;
}
/* END: Общие стили */

/* BEGIN: Главное меню */
.menu {
  /* Рекомендуется задать высоту главного меню именно отсюда. */
  height: 90px;
  background-color: #3F4044;
}

.menu > li {
  float: left;
  height: 100%;
  width: 15%; /* Мудакам которые не поддерживают calc. */
  width: calc((100% - 90px) / 5);
  width: -moz-calc((100% - 90px) / 5);
  width: -webkit-calc((100% - 90px) / 5);
  /* IE lt 9, Chrome lt 19, Opera lt 15, Safari lt 6, FF lt 4, Android и iOS не поддерэивают calc. */
}

.menu > li.home {
  background: #3E454D url(http://s26.postimg.org/qbf4q4j9h/home.png) center no-repeat;
  width: 90px;
}

.menu > li.current {
  background-color: #F2762E !important; /* !important VS .menu li:hover */
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  /* IE lt 9, Chrome lt 1, Opera lt 10.5, Safari lt 3, FF lt 3.5, Android lt 2.1 и iOS lt 2.0 не поддерэивают box-shadow. */
}

.menu > li:not(:first-child) {
  box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
  -moz-box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
  -webkit-box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
}

.menu > li.home > a {
  color: transparent !important;
}

.menu > li > a > span {
  left: 0; /* Селектор .menu a выравнивает содержимое по центру, из-за чего span начинается от центра. Исправляем. */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  /* IE lt 9, Chrome lt 5, Opera lt 10.5, Safari lt 3.1, FF lt 3.5, Android lt 2.1 и iOS lt 2.0 не поддерэивают transform. */
}



/* END: Главное меню */

/* BEGIN: Подменю */
.sub-menu {
  max-height: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: max-height .5s .2s;
  -moz-transition: max-height .5s .2s;
  -o-transition: max-height .5s .2s;
  -webkit-transition: max-height .5s .2s;
}

li:hover > .sub-menu {
  max-height: 600px;
}

.sub-menu li {
  height: 60px;
}

.sub-menu a {
  line-height: 60px;
  transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  -webkit-transition: color .5s;
  white-space: nowrap;
}

.sub-menu li.current a,
.sub-menu a:hover {
  color: #F2762E !important; /* !important VS .menu a:hover */
}


#javax_faces_developmentstage_messages {
    display:none;
}



.bbd {
    padding-top: 33px;
    margin-bottom: -46px;
    height:90px;
  
}

.lentute {
    width:100%;
}
lentute th{
    text-align: left;
    background-color:grey;
}
.lentute td {
    margin: 5px;
    padding:8px;
    
}


		.weather-wrapper {
			background: skyblue;
			margin: 5% 0 5% 5%;
			padding: 40px 5%;
			 
			color: white;
			width: 70%;
			max-width: 400px;
		}
		
		strong {
			color: steelblue;
		}
		
		.capitalize {
			text-transform: capitalize;
		}
		
		.hide {
			display: none;
		}
	